  <div class='card my-3'>
    <div class='card-header d-flex justify-content-between'>
      <h1 class='card-title'> <%= folder.title %> </h1>
      <% if current_user && current_user.administrator %>
        <div class='align-self-center d-flex'>
          <%= link_to "Editer", edit_folder_path(folder.id), class: "btn btn-outline-info"%>
          <%= link_to "Supprimer", folder, method: :delete, class: "btn btn-outline-warning"%>      
        </div>
      <% end %>
    </div>
    <div class='card-body text-justify' id='folder#<%=folder.id%>'>
      <%= folder.content%>
    </div>
    <!--<div class='card-footer'>
      <div id="folder#<%=folder.id%>">
        <%= render 'comments/index', folder: folder%>
      </div>
      <%= form_with model: @comment ,url: folder_comments_path(folder.id) do |f| %>
        <div class="form_group">
          <label>Commenter :</label>
          <%unless current_user%>
            <p class='text-secondary'> Vous devez êtres connecté pour commenter<p>
          <%end%>
          <%= f.text_area :content, class: "w-100", style: "height: 4em"%>
        </div>
        <div class="form_group">
          <%= f.submit "Poster", class: "btn btn-primary"%>
        </div>
      <%end%>
    </div>-->
  </div>