<% if current_user && current_user.administrator %>
  <div class="bc-secondary w-100">
    <div class='container'>
      <%= link_to "Créer un article", new_article_path, class: "btn btn-outline-secondary w-100 mt-3"%>
    </div>
  </div>
<% end %>
<% (@articles.length).times do |x|%>
  <%article = @articles[- x - 1]%>
  <div class='card my-3'>
    <div class='card-header d-flex justify-content-between'>
      <h1 class='card-title'> <%= article.title %> </h1>
      <% if current_user && current_user.administrator %>
        <div class='align-self-center d-flex'>
          <%= link_to "Editer", edit_article_path(article.id), class: "btn btn-outline-info "%>
          <%= link_to "Supprimer", article, method: :delete, class: "btn btn-outline-warning "%>      
        </div>
      <% end %>
    </div>
    
    <div class='card-body d-flex flex-wrap justify-content-around'>
      <p> <%= article.content %>
    </div>
    <div class='card-footer'>
      <% @comments["#{article}"].each do |comment| %> 
        <div>
          <div>
            <h5> <%= comment.user.name %> </h5>
            <p> <%= comment.content %> </p>
          </div>
          <% if current_user && current_user == comment.user || current_user && current_user.administrator%>
            <div class='d-flex flex-column justify-content-center mr-auto'>
              <%= link_to "Editer", edit_comment_path(comment.id), class: "text-secondary"%>      
              <%= link_to "Supprimer", comment, method: :delete, class: "text-secondary"%>      
            </div>
          <% end %>
        </div>
        <hr/>        
      <% end%>
      <%= form_with model: @comment ,url: article_comments_path(article.id) do |f| %>
        <div class="form_group">
          <label>Commenter :</label>
          <%unless current_user%>
            <p class='text-secondary'> Vous devez êtres connecté pour commenter<p>
          <%end%>
          <%= f.text_area :content, class: "w-100", style: "height: 4em"%>
        </div>
        <div class="form_group">
          <%= f.submit "Poster", class: "btn btn-primary"%>
        </div>
      <%end%>
    </div>
  </div>

<% end %>