<div class='container mt-4'>
  <div class='d-flex flex-wrap'>
    <div class='col-sm-6 col-xs-1'>
      <div class='d-flex flew-row justify-content-between '>
        <h4 class='align-self-center'>Conférences familiales</h4>
      </div>
      <div>
        <p>En 2002, les Cahiers de l'Actif consacrent un dossier complet à la présentation du Family Group Conferencing, méthode de traitement des conflits familiaux, issue de la tradition des Maoris de Nouvelle Zélande.
        Franics Alföldi réalise les onze articules du dossier, dont certains proviennent de spécialistes internationaux du FGC.<br/>
        <br/>
        Un an plus tard, un nouvel article lance un questionnement sur le peu de retentissement de l'approche du Family Group Conferencing en France.<br/>
        <br/>
        2017, expérimentation avec le d"épartement de l'Ardèche de deux premières conférences, l'occasion d'un nouvel article pour décrire les premiers pas d'un coordinateur.
        </p>
        <p><i>Les conférences familiales viennent des pratiques ancestrales des Maori, ils avaient pour coutume de  se réunir dans un marae <!--(photo de droite)--> pour résoudre les difficultés de la vie dans une communauté. Ils s'attaquaient au problème, en prenaient collectivement la responsabilité, et ne cherchaient pas à  désigner un coupable. </i></p>
      </div>
      <hr>
      <div class='row'>
        <%= image_tag "Guide_20Handicap.jpg", class: "img-fluid border rounded", style: "height: 10em"%>
        <p class='align-self-center ml-2'>Nous prenons  en compte les recommandations <br>
        du Guide de l'Accueil du Public en Situation  de Handicap ;<br>
         notre Référent Handicap assure à ce propos une veille attentive.</p>
      </div>
      <hr>
    </div>
    <div class='col-sm-6 col-xs-1'>
      <div class='card'>
        <div class='card-header'>
        <h4>Formations :</h4>
          <%= render 'holders/form', holder: @holder, section: '["conferences familiales","formation"]'%>
        </div>
        <div class='card-body' id="conferences familiales, formation" >
          <%=render 'holders/index', holders: @holders_formation%>         
        </div>
        <div class='card-header border-top' >
          <h4>Articles :</h4>
          <%= render 'holders/form', holder: @holder, section: '["conferences familiales","article"]'%>
        </div>
        <div class='card-body' id='conferences familiales, article'>    
          <%=render 'holders/index', holders: @holders_article%>
        </div>
      </div>
    </div> 
  </div> 
</div>
