<div class='container'>
  <div class='d-flex flex-column card'>
    <div class='card-header'>
      <h1 class='text-secondary'>Des actions de conseil ajustées à vos demandes.</h1>
    </div>
    <div class='card-body'>
      <h4>Vie des établissements:<h4>
      <hr>
      <div class='d-flex mt-4'>
        <%=image_tag "adobe-pdf-logo.jpg", style: "height: 5em; opacity: 0.33"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 1 initiation</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/conseil/AE12_LE_20_20PROJET_20D_27ETABLISSEMENT_20OU_20DE_20SERVICE.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Le projet d'établissement ou de service</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/conseil/AE1_ANALYSE_20DES_20PRATIQUES.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Analyse des pratiques</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/conseil/AE15_LES_20ENTRETIENS_20DE_20DEVELOPPEMENT_20PROFESSIONNEL.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Les entretiens de développement professionnel</h3>
      </div>
      <hr>
      <h4>Expertise évaluative:<h4>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/conseil/AE2_ATELIER_20DE_20CREATION_20D_27INSTRUMENT_20D_27EVALUATION.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Atelier de création d'instruments d'évaluation</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/conseil/AE10_EXPERTISE_20D_27INSTRUMENT_20D_27EVALUATION.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Expertises d'instruments d'évaluation</h3>
      </div>
    </div>
  </div>
</div>