<div class='container'>
  <div class='d-flex flex-column card'>
    <div class='card-header'>
      <h6 class='text-secondary'>Nous vous proposons des formations en pratiques sociales. A chaque intitulé est associé une fiche descriptive. Prix à la journée : 1300 hors frais, exonération TVA possible, tarif à ajuster selon les spécificités de chaque demande. Quelques chiffres : pour 2019 : 154 journées réalisées ; 66 actions réalisées ; 974 stagiaires formés.</h6>
    </div>
    <div class='card-body'>
      <h4>Vie des établissements:<h4>
      <hr>
      <div class='d-flex mt-4'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE9_EPE_INITIATION.pdf", :target => "_blank"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 1 initiation</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE6_EPE_APPROFONDISSEMENT.pdf", :target => "_blank"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 2 - approfondissement</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE5_EPE_CADRES_APPROFONDISSEMENT.pdf", :target => "_blank"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 2 - approfondissement cadres</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE8_EPE_ENTRAINEMENT.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>suivi</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE3_ECRITS_20PROFESSIONNELS_20EN_20PROTECTION_20DE_20L_27ENFANCE.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Les écrits en protection de l'enfance</h3>
      </div>      
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/FGC_20Coordinateur_20r_C3_A9f_C3_A9rent_204_20jours.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Coordinateur / référent de conférence familiales</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE8_EPE_ENTRAINEMENT.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Evaluation en prot. de l'enf. et conférences familiales : sensibilisation</h3>
      </div>              
      <hr>
      <h4>Etablissements et services:<h4>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE16_SE_20FORMER_20A_20L_27EVALUATION_20DS_20LES_20ETAB__20ET_20SERV_.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Se former à l'évaluation en action sociale et médico-sociale</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE14_LE_20QUESTIONNAIRE_20D_27APPRECIATION.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Le questionnaire d'appréciation</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE13_LE_20PLAN_20D_27AMELIORATION_20CONTINUE_20DE_20LA_20QUALITE.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Plan d'amélioration continue de la qualité - Le classeur Pacq</h3>
      </div>
      <hr>
      <h4>Autres sujets:<h4>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE4_ENTRETIENS_20ET_20RAPPORTS_20EN_20REUSSITE_20EDUCATIVE.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Entretiens et rapports en réussite éducative</h3>
      </div>   
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE17_SEMINAIRE_20EVALUATION_20PRODUCTRICE_20DE_20SENS.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Séminaire évaluation porteuse de sens</h3>
      </div>              
    </div>
  </div>
</div>