<div class='container'>
  <div class='d-flex flex-column card'>
    <div class='card-header'>
      <h3 >Nous vous proposons des formations en pratiques sociales. A chaque intitulé est associé une fiche descriptive. Prix à la journée : 1300 hors frais, exonération TVA possible, tarif à ajuster selon les spécificités de chaque demande. Quelques chiffres : pour 2019 : 154 journées réalisées ; 66 actions réalisées ; 974 stagiaires formés.</h3>
    </div>
    <div class='card-body'>
      <h4>Protection de l'enfance:<h4>
      <hr>
      <div class='d-flex mt-4'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/EPE_Initiation.pdf", :target => "_blank"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 1 initiation</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/EPE_Approfondissement.pdf", :target => "_blank"%>
        <h3 class='align-self-center'> Evaluer en protection de l'enfance - niveau 2 - approfondissement</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE3_ECRITS_20PROFESSIONNELS_20EN_20PROTECTION_20DE_20L_27ENFANCE.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Les écrits professionnels en protection de l'enfance</h3>
      </div>      
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/FGC_20Coordinateur_20r_C3_A9f_C3_A9rent_204_20jours.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Coordinateur / référent de conférence familiales</h3>
      </div>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/AE8_EPE_ENTRAINEMENT.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Evaluation en prot. de l'enf. et conférences familiales : sensibilisation</h3>
      </div>              
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/Retour_d'expérience_avec_méthode_Alföldi.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Retour d'expérience sur situations d'enfants en risque crucial avec la méthode Alföldi</h3>
      </div>         
      <hr>
      <h4>Etablissements et services:<h4>
      <hr>
      <div class='d-flex'>
        <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/formation/Plan_d'amélioration_continue_de_la_qualité_-_le_classeur_PACQ.pdf", :target => "_blank"%>
        <h3 class='align-self-center'>Plan d'amélioration continue de la qualité - Le classeur Pacq</h3>
      </div>              
    </div>
  </div>
</div>