<div class='container'>
  <div class="row">
    <div class='col'>
      <div class='card ml-2' style='width: 30em'>
        <div class='card-header d-flex flex-row justify-content-between'>
          <div>
          <h3>Evaluer en protection de l'enfance</h3>
          <p class='text-secondary'>Théorie et méthode<br>
          Francis Alföldi</p>
          </div>
          <%= image_tag "books/EPE_205_C3_A8_20_C3_A9d_0.jpg", class: "img-fluid border rounded", style: "height: 10em"%>
        </div>
        <div class='card-body'>
          <ul>
              <li>Enfances, Dunod</li>
              <li>2020 - 5ème édition - 300 pages</li>
              <li>EAN13 : 9782100721382</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.dunod.com/sciences-humaines-et-sociales/evaluer-en-protection-enfance-theorie-et-methodes" class="btn btn-info" target="_blank">Page de l'éditeur</a>
        </div>
      </div>

      <div class='card ml-2' style='width: 30em'>
        <div class='card-header d-flex flex-row justify-content-between'>
          <div>
          <h3>Vivre l'action éducative à domicile</h3>
          <p class='text-secondary'>Mille et un jours d'un éducateur<br>
          Francis Alföldi</p>
          </div>
          <%= image_tag "books/Vivre_20l_27action.png", class: "img-fluid border rounded", style: "height: 10em"%>
        </div>
        <div class='card-body'>
          <ul>
              <li>Enfances, Dunod</li>
              <li>2008 - 200 pages</li>
              <li>EAN13 : 9782100516988</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.dunod.com/sciences-humaines-et-sociales/vivre-action-educative-domicile-mille-et-un-jours-d-un-educateur" class="btn btn-info" target="_blank">Page de l'éditeur</a>
        </div>
      </div>

      <div class='card ml-2' style='width: 30em'>
        <div class='card-header d-flex flex-row justify-content-between'>
          <div>
          <h3>Savoir évaluer</h3>
          <p class='text-secondary'>en action sociale et médico-sociale<br>
          Francis Alföldi</p>
          </div>
          <%= image_tag "books/Savoir_20_C3_A9valuer.png", class: "img-fluid border rounded", style: "height: 10em"%>
        </div>
        <div class='card-body'>
          <ul>
              <li>Santé Social, Dunod</li>
              <li>2006 - 256 pages</li>
              <li>EAN13 : 9782100495719</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.dunod.com/sciences-humaines-et-sociales/savoir-evaluer-en-action-sociale-et-medico-sociale" class="btn btn-info" target="_blank">Page de l'éditeur</a>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='card ml-2' style='width: 30em'>
        <div class='card-header d-flex flex-row justify-content-between'>
          <div>
          <h3>18 cas pratiques d'évaluation </h3>
          <p class='text-secondary'>en action sociale</p>
          </div>
          <%= image_tag "books/18_20cas0.gif", class: "img-fluid border rounded", style: "height: 10em"%>
        </div>
        <div class='card-body'>
          <ul>
              <li>Collectif dirigé par Francis Alföldi</li>
              <li>Santé Social, Dunod</li>
              <li>2008 - 286 pages</li>
              <li>EAN13 : 9782100495719</li>
          </ul>
        </div>
          <div class="card-footer">
        <button href="#" class="btn btn-info" target="_blank" disabled>L'ouvrage en PDF</button>
        </div>
      </div>

      <div class='card ml-2' style='width: 30em'>
        <div class='card-header d-flex flex-row justify-content-between'>
          <div>
          <h3>L'analyse des pratiques </h3>
          <p class='text-secondary'>en travail social<br>
          Francis Alföldi</p>
          </div>
          <%= image_tag "books/L_27analyse_20des_20pratiques.jpg", class: "img-fluid border rounded", style: "height: 10em"%>
        </div>
        <div class='card-body'>
          <ul>
              <li>Santé Social, Dunod</li>
              <li>2017 - 264 pages</li>
              <li>EAN13 : 9782100742325</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.dunod.com/sciences-humaines-et-sociales/analyse-pratiques-en-travail-social" class="btn btn-info" target="_blank">Page de l'éditeur</a>
        </div>
      </div>
    </div>
  </div>
</div>