<div class='container mt-4'>
  <h2>Nos partenaires</h2>
  <p class="font-italic">Les activités du cabinet s'enrichissent de relations avec des partenaires compétents, stables, fidèles : des relations au long cours qui reposent sur l'estime, la confiance et sur des réalisations concrètes. </p>
  <hr>
  <div class="d-flex s">
    <%= image_tag "Ceform0.jpg", class: "mr-2 img-fluid border rounded", style: "height: 10em"%>
    <div class='align-self-center'>
      <b><a href='https://ceform.be/' target='_blank'>Ceform</a></b>
      <p>Depuis 2006, nous entretenons des relations étroites avec le Ceform et sa sympathique équipe  dirigée par Isabelle Druitte. Chaque année, des sessions ont lieu sur la méthodologie d'évaluation en protection de l'enfance et sur la méthode Alföldi, au siège de l'association .</p>
      <p>La formation tend à essaimer et des actions sur site sont aussi réalisées dans un ensemble d'institutions en territoire belge. </p>
    </div>
  </div>

  <hr>
  <div class="d-flex s">
    <%= image_tag "logoActif.png", class: "mr-2 img-fluid border rounded", style: "height: 10em"%>
    <div class='align-self-center'>
      <b><a href='https://www.actif-online.com/' target='_blank'>Actif formation</a></b>
      <p>C'est un partenariat ancien, des relations solides et rodées par l'action.</p>
      <p>Relation éditoriale tout d'abord, la revue publie régulièrement les articles de Francis alföldi depuis l'année 2000.</p>
      <p>Partenariat formatif ensuite, car c'est avec Actif Formation que nous organisons chaque année un stage de formation à la méthode Alföldi en inscription individuelle.</p>
    </div>
  </div>

  <hr>
  <div class="d-flex s">
    <%= image_tag "LOGO-FN3S.jpg", class: "mr-2 img-fluid border rounded", style: "height: 10em"%>
    <div class='align-self-center'>
      <b><a href='http://www.fn3s.fr/index.php' target='_blank'>La fn3s</a></b>
      <p>Fédération nationale des services sociaux spécialisés - a intégré dans ses programmes la formation à la méthode Alföldi, depuis plusieurs années.</p>
      <p>Ce partenariat fructueux est renouvelé dans plusieurs territoires en Ile de France et en régions, grâce au réseau de la fédération, un réseau solide de personnes impliquées et déterminées.</p>
    </div>
  </div>

  <hr>
  <div class="d-flex s">
    <%= image_tag "Copes.png", class: "mr-2 img-fluid border rounded", style: "height: 10em"%>
    <div class='align-self-center'>
      <b><a href='https://www.copes.fr/' target='_blank'>Copes</a></b>
      <p>Une collaboration spontanée et volontaire. Ce lien repose sur un réel partage de vues dans l'approche clinique de l'action sociale.</p>
      <p>Parmi ses activités, le Copes  développe  une spécialité dans la régulation d'équipe, il est notre partenaire sur ce type d'actions.</p>
    </div>
  </div>

  <hr>
  <div class="d-flex s">
    <%= image_tag "Dunod.jpg", class: "mr-2 img-fluid border rounded", style: "height: 10em"%>
    <div class='align-self-center'>
      <b><a href='https://www.dunod.com/' target='_blank'>Dunod</a></b>
      <b>, bien sûr, l'éditeur de Francis Alföldi depuis 1999, plus qu'une  collaboration, c'est la connivence indispensable entre l'auteur et l'éditeur pour que le livre advienne.</b>
      <ul>
        <li>1999 : Evaluer en protection de l'enfance, 5è édition  en préparation</li>
        <li>2002 : Mille et un jours d'un éducateur</li>
        <li>2006 : Savoir évaluer en action sociale et médico-sociale</li>
        <li>2008 : 18 cas pratiques d'évaluation en action sociale et médico-sociale, ouvrage collectif</li>
        <li>2017 : L'analyse des pratiques en action sociale</li>
      </ul>
    </div>
  </div>
</div>