<div class='container d-flex flex-column card'>
  <div class='d-flex mt-4'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/1995_LE_20GENOGRAMME.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 1995, « Le génogramme, un outil d’évaluation pour les professionnels du champ médico-psycho-social » in Générations n°4, p.47-52</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/1997_LE_20GENOGRAMME_20D_27EVALUATION.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 1997, « Le génogramme d'évaluation - une technique d'optimisation des ressources du système familial » in Générations n°9, p.7-11</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/1998_META-MODELE_20DU_20TRAUMA.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 1998, « Le méta-modèle du traumatisme mortifère », in Dialogue n°140, p.21-35</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2000_LE_20CRITERE_20A_20TROIS_20NIVEAUX.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2000, « Le critère à trois niveaux – Un concept pratique pour les professionnels de l’évaluation en protection de l’enfance », in Les cahiers de l’Actif, n°288-291, p.201-214</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2002_DOSSIER_20FGC_20ACTIF.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFOLDI Francis, 2002, dossier « La pratique du Family Group Conferencing en protection de l’enfance », Les Cahiers de l’Actif, n°318/319, p.9-133.</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2003_LE_20DERRIERE_20DE_20L_27ELEPHANT.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFOLDI Francis, 2003, « Pourquoi les français ne s'intéresent pas au Family Group Conferencing ? Un coup de pied au derrière de l'éléphant », Les Cahiers de l’Actif, n°330/331, p.129-133.</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2003_NI_20VALETS_20NI_20BETES.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2003, « Ni valets, ni bêtes – contre-indication à l’utilisation du terme domestique dans la réflexion sur le travail social à domicile », in Le Sociographe, n°11, p.85-89</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2004_LE_20BOUCLIER.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2004, « Le bouclier – de l’application du concept de médium malléable à l’éducation spécialisée », in BRICHAUX Jean (dir.), L’éducateur d’une métaphore à l’autre, Ramonville, Erès, p.23-36</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2004_LES_20PETITS_20CERCLES_20BIPOLAIRES.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2004b, « Les petits cercles bipolaires », in Les cahiers de l’Actif, n°332-333-n°334-335, p.97-98</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2006_EVALUER_20LE_20PARCOURS_20INDIVIDUALISE_20EN_20REUSSITE_20EDUCATIVE.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2006, « Evaluer le parcours individualisé - Mise en chantier d’un prototype instrumental », in La réussite éducative en Seine-Saint-Denis, Profession Banlieue, p.85-100</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2007_EVALUER_20LE_20PROJET_20D_27ETABLISSEMENT_20OU_20DE_20SERVICE.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2007, « Evaluer le projet d'établissement ou de service - Un prototype instrumental », in Les Cahiers de l’Actif, n°372/373-n°374/375,  p.179-197.</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2010_EVALUATION_20EXTERNE.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2010, « Evaluation externe, quelle pérennité pour l'évaluation interne », in Les cahiers de l’Actif, n°410/411-n°412/413, p.281-293</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2011_LE_20QUESTIONNAIRE_20D_27APPRECIATION.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2011, « Le questionnaire d'apréciation : un outil pour évaluer les effets d'une action",  Les Cahiers de l’Actif, n°426-427, p.139-154 </p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2012_RECHERCHE_20ACTION_20ET_20EVALUATION_20PRODUCTRICE_20DE_20SENS.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2012, « Au carrefour entre recherche-action et évaluation productrice de sens », in En quête d’une intelligence de l’agir, sous la direction de Pierre-Marie Mesnier et Christophe Vandernotte, Paris, L’Harmattan, p.189-206 du tome 2</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2015_EVALUER_20LES_20SITUATIONS_20JEUNES_20ACTION_20PENALE.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, DERRAIS Omar, 2015, « Evaluer les situations de jeunes en cadre pénal - un prototype élaboré à partir de la méthode Alföldi », Les Cahiers de l'Actif, n°470/471, p.165-186</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2016_EVALUER_20LES_20SITUATIONS_20PRENATALES_20PREOCCUPANTES.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, CARRE Sabine, CHAUVET-BARON Agnès, 2016, « Evaluer les situations les situations prénatales préoccupantes - un prototype élaboré à partir de la méthode Alföldi partir de la méthode Alföldi », Les Cahiers de l'Actif, n°476/477, p.227-253</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2017_DES_20ETOILES_20DANS_20LES_20YEUX.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2017, « Des étoiles dans les yeux et de la moelle plein les os - la clinique dans l'action sociale », Les Cahiers de l'Actif, n°496/497, p.9-32</p>
  </div>
  <hr>
  <div class='d-flex'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2018_LES_20CONFERENCES_20FAMILIALES_20EN_20ARDECHE.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2018, «  Les conférences familiales en Ardèche -  premiers pas d'un coordinateur », Les Cahiers de l'Actif, n°504/505, n°506-507, p.287-326</p>
  </div>
  <hr>
  <div class='d-flex mb-4'>
    <%= link_to ( image_tag "adobe-pdf-logo.jpg", style: "height: 5em"), "/presse/2018_DON_20CONTRE_20DON.pdf", :target => "_blank"%>
    <p class='align-self-center'>ALFÖLDI Francis, 2018, « Don-contre-don : oui, dupe-contre-dupe : non - un choix à faire dans la conduite d'équipe », Les Cahiers de l'Actif, n°504/505, n°508-509, p.121-134</p>
  </div>
</div>