<div class='container'>
  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Guy Patriarca </h4>
        <li>Directeur Enfance Santé Famille </li>
        <li>Conseil Général de l'Ardèche - Privas</li>
      </ul>
      <%= image_tag "Privas.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>" C'est en 2000, à l'occasion du décès tragique d'un enfant tué par son père toxicomane, qu'en Ardèche nous avons pris conscience de l'importance primordiale de la question de l'évaluation clinique en protection de l'enfance. </p>
      <p>Cet événement traumatisant a conduit les acteurs principaux du dispositif, Parquet, Juges des Enfants, Education Nationale, PJJ et Conseil général, à engager un travail de fond sur la promotion d'une culture commune de l'évaluation clinique basée sur un référentiel sérieux, partagé par tous.    </p>
      <p>Francis Alföldi venait de terminer son premier bouquin sur cette thématique, et même en cherchant bien, nous n'avons trouvé dans la littérature professionnelle aucun ouvrage capable de proposer de façon convainquante d'autres modèles de référentiel. Nous lui avons donc demandé de construire avec nous un module de formation destiné à l'ensemble des acteurs agissant dans le département auprès d'enfants à titre professionnel.    </p>
      <p>Depuis, ce sont chaque année une vingtaine de professionnels qui participent activement à ces formations, reconduites par chaque nouveau Schéma depuis 2000. Et chaque année, nous construisons un peu plus avec Francis Alföldi cette culture commune qui permet aux acteurs de parler de la même chose lorsqu'on parle d'un enfant "en danger"...</p></p>
    </div>
  </div>

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Chantal Heidocker</h4>
        <li>Directrice</li>
        <li>Service d'Aide et d'Action Educative de Rouen</li>
      </ul>
      <%= image_tag "ROUEN_202.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"Notre Association a commencé sa collaboration avec Francis Alföldi  en 1999 après la création d’un Service d’Unités de Vie Familiales Spécialisées.</p>
      <p>A l’époque il s’agissait de réussir l’intégration de cette nouvelle équipe avec celle déjà présente dans le cadre de la  protection de l’enfance, en initiant une formation interne sur l’évaluation de la maltraitance avec entres autres l’utilisation du génogramme. </p>
      <p>Francis Alföldi, par la pertinence de son expérience et de sa méthode interactive est allé au-delà de nos espérances et de la commande initiale en stimulant l’appétit de réflexion, de sens et de recherche déjà bien aiguisés au départ et entrainant ainsi dans notre Association  une spirale « vertueuse »  d’approfondissement, de construction d’outils pragmatiques et de nouvelles formations adaptées à nos besoins renouvelés à la fois par l’application des politiques sociales et des grands questionnements et enjeux qui nous ont traversés jusqu’à aujourd’hui ( critéroscope , évaluation interne, révision des projets de services, recueils de l’expression des usagers...) </p>
      <p>Ses qualités relationnelles, son écoute attentive et son humour ont fait des journées passées ensemble des moments  joyeux de partage, de jubilation intellectuelle et de ressourcement pour les équipes."</p>
    </div>
  </div>

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Marc Favez</h4>
        <li>Adjoint du chef de service de protection </li>
        <li>Canton de Vaud - Lausanne - Suisse</li>
      </ul>
      <%= image_tag "Lausanne.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"Le Service de protection de la jeunesse du canton de Vaud (Suisse) c'est doté en 2008 d'un référentiel d'évaluation largement inspiré des critères proposé par Francis Alföldi dans son ouvrage "Évaluer en protection de l'enfance". Constatant la nécessité de disposer d'une méthodologie pour pouvoir utiliser ce référentiel, nous avons décidé de faire appel à Francis Alföldi pour nous former. Une première session de formation a été organisée à l'attention des cadres du service ; nous l'avons ouverte à des représentants des autres cantons romands. </p>
      <p>Suite à cette première session, tous les assistants sociaux pour la protection des mineurs ont par la suite bénéficié de cette formation, qui fait désormais partie du programme de formation de base des nouveaux collaborateurs. Plusieurs cantons de Suisse romande ont également  organisé des sessions de formation avec Francis Alföldi, et il intervient dans le cadre du Diplôme en protection de l'enfant (Diploma of advanced studies) organisé pour les intervenants en protection de l'enfant des cantons de Suisse romande. Personnellement, j'ai rapidement été convaincu par la pertinence des outils proposés. Mon seul regret était de ne pas en avoir disposé plus tôt...  </p>
      <p>Au fil des années, nous avons eu l'occasion de vérifier que le tronc commun dans les questions relatives à la protection de l'enfance est plus important que les différences structurelles et organisationnelles, confirmant l'utilité et la richesses des échanges internationaux."</p>
    </div>
  </div>  

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Brigitte Coquema</h4>
        <li>Chef du service de l'ASE </li>
        <li>Conseil Général de la Vienne - Poitiers</li>
      </ul>
      <%= image_tag "Poitiers.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"J'ai fait partie d'un des premiers groupes à être formé sur cette  méthode, en tant que responsable ASE j'ai vu la méthode appliquée sur certains signalements rédigés par les Assistantes sociales notamment pour des situations complexes à évaluer . </p>
      <p>Cette méthode permet en effet d'observer des faits négatifs et positifs avant d'analyser et de faire des propositions dans l'intérêt de l'enfant .   </p>
      <p>Je sais aussi que certaines situations complexes ont été examinées en commission d'évaluation pluridisciplinaires en utilisant la méthode "du mouton à 5 pattes " qui permet d'être plus rigoureux et objectif . </p>
      <p>Il est  intéressant  de constater  que les personnes qui ont fait cette formation peuvent se servir de la méthode même si celle ci n'est pas appliquée à 100% . Les rapports rédigés selon cette méthode sont très clairs et donc un apport certain en terme de rapidité de lecture , et de décision".</p>
    </div>
  </div>  

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Isabelle Druitte</h4>
        <li>Directrice du <a href='https://ceform.be/' target='_blank'>CEFORM ASBL</a></li>
        <li>Service de Formation - Charleroi - Belgique </li>
      </ul>
      <%= image_tag "Belgique.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"C’est au détour d’un rayonnage de bibliothèque qu’un intervenant de l’Aide à la Jeunesse en Communauté française de Belgique a découvert la méthode Alföldi. Cette découverte répondait précisément à un besoin de références communes dans le travail d’évaluation des situations de danger. C’était en 2005 et depuis, le Ceform diffuse la méthode auprès d’équipes et d’intervenants belges.  </p>
      <p>Face à la difficile évaluation du danger potentiel encouru par un enfant,  la méthode Alföldi apporte des pistes, des repères. Elle soutient la réflexion, force à l’objectivation et au croisement des regards. Elle replace l’évaluation dans sa complexité et dans son impératif de précision, tout en donnant un cadre évaluatif rassurant parce verbalisé, explicite. Elle plonge les intervenants au cœur même de leur métier par la prise de recul évaluative, la centration sur l’enfant, la distanciation par rapport aux référents personnels, permettant ainsi un véritable échange au sein des équipes sur des référentiels professionnels partagés.</p>
      <p>Certains intervenants aujourd’hui appliquent la méthode de manière complète, d’autres ont forgé l’outil à leur pratique, mais les retours sont unanimes, la méthode Alflöldi intéresse, questionne, aide et balise… en dans tous les cas, elle laisse des traces dans les pratiques."</p>
    </div>
  </div>  

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Marc Rossier</h4>
        <li>Chef du service de protection de la jeunesse </li>
        <li>Sierre - Canton du Valais - Suisse</li>
      </ul>
      <%= image_tag "Valais.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"Durant la formation, je constate que les équipes ont pu s'approprier rapidement la méthode présentée. Nous avons obtenu un diagnostic pertinent sur le risque encouru par l'enfant et les ressources mobilisables nous permettant de formuler des recommadations applicables à 'intention des Autorités de protection qui nous mandatent, ce que j'ai rarement vu dans les formations dans ce domaine.</p>
      <p>J’ai  l’impression qu'on gagne en sécurité dans la mission qui nous est confiée : l'évaluation du danger. La méthode est opérationnelle en ce qu’elle active la réflexion sur la situation au-delà du côté strictement instrumental, tout cela avec la supervision bienveillante de Francis Alföldi.</p>
      <p>J’insiste : nous allons implémenter progressivement cette méthode dans les équipes. Elle n'aura pas dans un premier temps un caractère obligatoire, mais vu sa pertinence, je suis convaincu qu'elle trouvera rapidement l'adhésion des intervenants. En effet, je remarque que déjà lors du traitement d'une deuxième situation durant la formaiton nous avons gangé du temps, donc quand on pratique, ça va plus vite.</p>
      <p>Les mandataires nous demandent souvent quels sont nos critières et méthode d'évaluation, dorénavant nous avon sun support solide pour valider nos évlauations. C’est la seule méthode à ma connaissance qui présente une évaluation complète de la situation.</p>
      <p>Le formateur a proposé de venir lancer le troisième temps d’appropriation de la méthode : deux journées sur des situations travaillées en groupe avec les candidats animateurs : nous donner une chance que cette méthode devienne familière tout en l’ajustant à nos pratiques. Donc merci pour ce travail de coaching discret, présent et pertinent."</p>
    </div>
  </div>  

  <div class='card'>
    <div class='card-header d-flex flex-row justify-content-between'>
      <ul class='align-self-center'><h4>Fabienne Jeanson</h4>
        <li>Directrice </li>
        <li>Toboggan - Asbl à Mons - Belgique</li>
      </ul>
      <%= image_tag "Mons.jpg", class: "rounded border img-fluid", style: "heigth: "%>
    </div>
    <div class='card-body font-italic'>
      <p>"J’ai expérimenté les deux formules de la méthode à deux ans d’intervalle. La version actuelle est plus efficace, car pour se familiariser avec la méthode, c’est mieux de travailler sur une situation inconnue apportée par le formateur, parce que l’attention est plus portée sur le processus de la méthode que sur la situation. Et le travail en petits groupes rend le groupe actif..</p>
      <p>Après on pourra transposer sur nos situations de terrain parce qu’on sera vraiment entrés dans le modèle.</p>
      <p>Le fait de pratiquer nous-même rend plus facile la mémorisation. Même si va sans doute tatonner au départ, on pourra le faire de mieux enmieux par la suite.</p>
      <p>C’est un bon outil de simplification et d’analyse vraiment très intéressant.</p>
      <p>Pour conclure on a bien mangé, le moniteur était sympa, et les trois jours se sont bien passés."</p>
    </div>
  </div>  
</div>