<div class='container mt-4'>
  <div class='row'>

    <div class='col d-flex flex-column'>
      <h3>Nous contacter</h3>
      <hr>
      <h4>Alfoldi Evaluation</h4>
      <ul>
        <li>Tél : 01 60 11 91 48</li>
        <li>Port : 06 10 46 76 47</li>
        <li>Courriel : alfoldievaluation@gmail.com</li>
      </ul>
    </div>

    <div class='col'>
      <div class='card'>
        <div class='card-header'>
          <h4>Nous poser une question</h4>
        </div>
        <div class='card-body pt-0 pb-5'>
          <%= form_with(url: admin_mail_index_path, class: "d-flex flex-column",remote: false ) do %>
            <%= invisible_captcha %>
            <% if current_user %>
              <div class="m-0">
                <%= label_tag(:first_name, "Prénom:") %><br />
                <%= text_field_tag(:first_name, current_user.first_name) %>
              </div>
              <div>
                <%= label_tag(:last_name, "Nom:") %><br />
                <%= text_field_tag(:last_name, current_user.last_name) %>
              </div>       
              <div>
                <%= label_tag(:email, "Courriel:") %><br />
                <%= text_field_tag(:email, current_user.email) %><br />
              </div>                            
            <% else %>
              <div class="m-0">
                <%= label_tag(:first_name, "Prénom:") %><br />
                <%= text_field_tag(:first_name) %>
              </div>
              <div>
                <%= label_tag(:last_name, "Nom:") %><br />
                <%= text_field_tag(:last_name) %>
              </div>
              <div>
                <%= label_tag(:email, "Courriel:") %><br />
                <%= text_field_tag(:email) %><br />
              </div>              
            <% end %>
            <%= label_tag(:body, "Message:", class: "mt-2") %><br />
            <%= text_area_tag(:body,"") %>
            </div>
            <div class='card-footer'>
              <%= submit_tag("Envoyer", class: 'btn btn-outline-info' )%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>