<div class='d-flex' id="holder#<%=holder.id%>">
  <%= link_to @urls["#{holder.id}"], :target => "_blank", class: "d-flex" do%>
    <% unless holder.section_array[0] == "footer"%>
      <i class='fas fa-file-download fa-lg align-self-center'></i>
    <%end%>
    <div class='align-self-center'>
    <p class='ml-2 mb-0 align-self-center'><%=holder.title%></p>
  <%end%>
    <% if current_user && current_user.administrator %>
      <div class="mr-auto">
          <%= link_to edit_holder_path(holder.id), remote: true do%>
            <i class="ml-2 fa-bg fas text-warning fa-pen-fancy" class='ml-3'></i>
          <%end%>
          <%= link_to holder, method: "delete", remote: true, data: { confirm: 'Effacer le document?' }  do%>
            <i class="ml-2 fa-bg fas text-warning fa-trash-alt"></i>
          <%end%>
      </div>
    <% end %>
    </div>
</div> 