<header>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow p-0">
  <a href='/'><%= image_tag "alfoldi_logo.jpg", class: 'img-fluid', style: 'height: 7em;' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Dossiers", folders_path, class: "nav-link active" %>
      </li>
        <%=link_to "Méthode Alföldi", "/statics/methode_alfoldi", class: "nav-link active" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Formations</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to "Protection de l'enfance", "/statics/protection_enfance", class: "dropdown-item " %>
          <!--<p class="p-0 dropdown-item text-secondary" >À distance</p>-->
          <%=link_to "Conférences familiales", "/statics/conferences_familiales", class: "dropdown-item" %>      
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Références</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to "Témoignages", "/statics/temoignages", class: "dropdown-item" %>
          <%=link_to "Partenaires", "/statics/partenaires", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publications</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to "Livres", "/statics/livres", class: "dropdown-item" %>
          <%=link_to "Articles", "/statics/articles", class: "dropdown-item" %>
          <%=link_to "Dico de Francis", "/statics/dico_de_francis", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to "On répond à vos questions", "/statics/on_repond_a_vos_questions", class: "dropdown-item" %>
          <%=link_to "Newsletter", "/statics/newsletter", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex flex-row align-middle " id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p class='align-middle mr-1'>Mon compte </p>
          <i class='fas fa-user-circle fa-2x align-middle '></i>
        </a>
        <% if user_signed_in? %>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <%= link_to "Editer mon compte", edit_user_registration_path, class: "dropdown-item"%>
            <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "dropdown-item"%>
          </div>
        <% else %>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="<%= new_user_session_path %>">Connexion</a>
              <a class="dropdown-item" href="<%= new_user_registration_path %>">S'inscrire</a>
            </div>
        <% end %>
      </li>      
  </div>
</nav>
</header>