<!DOCTYPE html>
<html>
  <head>
    <title>Alföldi Evaluation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/46962466a1.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag image_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all'%>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

  </head>

  <body class='py-0'>
    <%= render 'layouts/header'%>
    <%= render 'layouts/flash'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
    <%= javascript_include_tag 'application'%>
  
</html>
